
  <header role="banner">
    <div class="wrapper">
      <h1><a href="/">BrijTalk</a></h1>
      <nav>
        <a href="/conferences">Dashboard</a>
        <a href="/contacts">| Contacts</a>
      </nav>
      <p class="logged-in"><span>Hello Ben Emson </span><a href="/users/sign_out" data-method="delete" rel="nofollow">Log Out</a></p>
    </div>
  </header>

  <%= content_tag "div", "", id: 'participant_collection', data: { participants: @participants } %>

  <section id='conference-page' class='main-content'>

    <nav class="breadcrumbs">
      <a href="/conferences">Dashboard</a>
      <span>Please dial in</span>
    </nav>

    <section id='conf-info' class="call-completed">
      <article>
        <header>
          <h2 id='conference_name'  > Please dial in </h2>

            <time>
                Wednesday 31st October, 13:37pm
            </time>

        </header>
         <p id='conference_agenda'  > Test</p>
      </article>
      <aside>
        <p>
          <span class="tel">+442035145919</span>
          <span class="call-status">Completed
          </span>
        </p>
          <div class="button featured-cta">Archive</div>
      </aside>
    </section>


    <div id="container"> loading ....</div>
    <ul id='participants'></ul>

    <ol id="steps">
      <li class=active>
        <p>Click to edit title, time &amp; agenda.</p>
      </li>
      <li class=>
        <p>Click to add participants to your conference.</p>
      </li>
      <li class=>
        <p>Click to send an invite to your participants.</p>
      </li>
    </ol>

  </section>

   <footer>
      <div class="wrapper">
           <a href="http://thelab.o2.com/">The Lab</a>
           <p>&copy; copyright Telefonica</p>
       </div>
   </footer>


