<section id='conf-info' class="call-completed">
  <article>
    <header>
      <h2 id='conference_name' class='editable'><%= name %></h2>

        <time>
           <%= start %>
        </time>

    </header>
     <p id='conference_agenda' class='editable'><%= agenda %></p>
  </article>
  <aside>
    <p>
      <span class="tel">+442035145919</span>
      <span class="call-status">Completed
      </span>
    </p>
      <div class="button featured-cta">Archive</div>
  </aside>
</section>