<figure class="container">
  <!--<div class="card">-->
    <!--<div class="face front">-->
      <!-- TODO format msisdn -->
      <div id='image_frame'>
        <img class="photo" src="http://robohash.org/<%= msisdn %>.jpg?size=200x170&bgset=bg2" alt="" />
        <div id='info'>Extra Info:  <a id="flipme" href="#">Test</a></div>
      </div>
      <figcaption class="nickname">
        <span class='nickname'><%= nickname %>:</span>
        <span class='status'>[<%= state %>]</span>
      </figcaption>
    </div>
    <!--<div class="face back">
      <h1>Back</h1>
    </div>
  </div>-->
</figure>
