<figure>
  <!-- TODO format msisdn -->
  <div id='image_frame'>
    <img class="photo" src="http://robohash.org/<%= msisdn %>.jpg?size=150x170&bgset=bg2" alt="" />
    <div id='info'> something like this?</div>
  </div>
  <figcaption class="nickname">
    <span class='nickname'><%= nickname %>:</span>
    <span class='status'>[<%= state %>]</span>
  </figcaption>
</figure>

