/*
CONTENTS

1. Reset and default style
2. Site structure
3. Generic styling and page layout (that's not in 1.)
4. Page specifics
*/

/*Font family declaration*/
@font-face {
    font-family: 'KameronRegular';
    src: url('fonts/Kameron-Regular-webfont.eot');
    src: url('fonts/Kameron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kameron-Regular-webfont.woff') format('woff'),
         url('fonts/Kameron-Regular-webfont.ttf') format('truetype'),
         url('fonts/Kameron-Regular-webfont.svg#KameronRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KameronBold';
    src: url('fonts/Kameron-Bold-webfont.eot');
    src: url('fonts/Kameron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kameron-Bold-webfont.woff') format('woff'),
         url('fonts/Kameron-Bold-webfont.ttf') format('truetype'),
         url('fonts/Kameron-Bold-webfont.svg#KameronBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'symbols-icons';
  src: url("fonts/symbols-icons.eot");
  src: url("fonts/symbols-icons.eot?#iefix") format('embedded-opentype'),
  url("fonts/symbols-icons.woff") format('woff'),
  url("fonts/symbols-icons.ttf") format('truetype'),
  url("fonts/symbols-icons.svg#symbols-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*COLOURS*/
$white: hsla(213,5%,100%,1);
$superlight: hsla(213,5%,100%,0.9);
$translight: hsla(213,5%,100%,0.5);
$midlight: hsla(213,5%,90%,0.9);
$light: hsla(213,5%,80%,0.9);
$mid: hsla(213,5%,60%,0.9);
$dark: hsla(213,5%,36%,0.9);
$superdark: hsla(213,5%,5%,0.8);
$black: hsla(213,5%,0%,1);

$pink: hsla(349,44%,48%,1);
$purple: hsla(285,56%,36%,1);
$blue: hsla(231,57%,44%,1);
$turquoise: hsla(162,47%,39%,1);
$green: hsla(75,69%,45%,1);
$yellow: hsla(59,84%,48%,1);
$orange: hsla(35,84%,46%,1);
$red: hsla(3,55%,50%,1);

/*ICONS*/
$star: '\2606';
$account: '\26ef';
$mail: '\e800';
$edit: '\2710';
$delete: '\e729';
$search: '\1f50d';
$login: '\e740';
$logout: '\e741';
$right-arrow: '\e75e';
$cross: '\2715';
$facebook: '\f301';
$twitter: '\f303';
$linkedin: '\f30c';
$user: '\1f464';
$adduser: '\e700';
$phone: '\1f4de';

@mixin addicon($icon-code) {

}
@mixin lighttext {color:$light; text-shadow: 1px 1px 0px $black;}
@mixin darktext {color:$superdark; text-shadow: 1px 1px 0px $white;}

/*EFFECTS*/
@mixin featuredcontent($shadowpx:3px,$shadowcolor:$dark) {
    box-shadow:0px 0px $shadowpx $shadowcolor;
    margin:$shadowpx;
    border-radius:1px;
    background-color:$translight;
}
.featured-content-header {
    text-transform:uppercase;
}
@mixin calltoaction($shadowpx:4px,$color:$dark,$shadowcolor:$dark,$backcolor:$midlight) {
    @extend .featured-content-header;
    @include featuredcontent($shadowpx,$shadowcolor);
    display:inline-block; padding:8px 30px;
    text-decoration:none; color:$color;
    font-family:'KameronRegular', 'Times New Roman',serif;
    border:none;
    background:-webkit-linear-gradient(120deg,
        $white 33%,
        $backcolor 32%,
        $backcolor 66%,
        $white 67%);
    background-size:3px 3px;
}
@mixin ctahover($shadowpx:3px,$color:$superdark) {
    @include calltoaction($shadowpx,$color);
    cursor:pointer;
    box-shadow: inset 0px 0px $shadowpx $dark;
    padding:8px 29px 8px 31px;
    margin:4px;
}

@mixin rightborder($backgroundcolor:$translight,$colourone:$blue, $colourtwo:$turquoise, $colourthree:$green) {
    background:
    -webkit-linear-gradient(top,$colourone,$colourtwo,$colourthree),
    $translight;
    background-size:20px 100%;
    background-repeat:no-repeat;
}




/*1. RESET AND INITIAL STYLE--------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside, figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background:transparent;
}

section, header, article, hgroup
{display:block;}

html {
    background: #efefef;

}

body {font-size:62.5%; line-height:1; @include darktext;
    font-family: 'KameronRegular', 'Times New Roman',serif;
    background:
    -webkit-radial-gradient(50% 30%, circle closest-corner, hsla(213,5%,95%,0.95) 0%, hsla(213,5%,85%,0.8) 100%),
    -webkit-linear-gradient(left, hsla(0,0%,100%,0.5) 50%, hsla(0,0%,100%,0) 51%),
    -webkit-radial-gradient(50% 50%, circle, hsla(213,5%,90%,0.6) 0%, hsla(213,5%,80%,0.6) 100%)
    ;
    background-size: cover, 10px, 6px 6px;
}

/* remember to define focus styles! */
:focus {outline: 0;}

/*text styling*/
p {font-size:1.4em; line-height:1.4; margin:10px 0px;}
.lede {font-size:120%;}
p.lede {font-size:1.7em;}
strong, b {font-weight:bold;}
em, i {font-style:italic;}
dfn, abbr {border-bottom:1px dotted #111;}
ins {border:1px dotted #111; border-width:0px 1px; padding:0px 3px; text-decoration:none; background-color:hsla(0,0%,10%,0.1);}
small {font-size:92%;}
code {background-color:hsla(230,60%,80%,0.7); font-family:monospace; padding:0px 3px;}
kbd {font-family:monospace; font-size:1.5em;}
mark {background-color:hsla(62,100%,80%,0.9); padding:0px 3px;}
sub {vertical-align:sub;}
sup {vertical-align:super;}
address, time {font-size:1.4em;}
span.feature-text {font-weight:bold; font-style:italic;}

/*lists*/
ol, ul {list-style:none;}
li {line-height:1.2;}
dl {}

/* tables still need 'cellspacing="0"' in the markup */
table {border-spacing:0px 0.8em; width:100%; padding:0px 20px; box-sizing:border-box;}
caption {font-size:1.4em; text-align:left; text-indent:20px;}
tbody tr {cursor:pointer;}
th, td {padding:10px 20px; text-align:left; @include featuredcontent; font-size:1.4em;}
th {
    @extend .featured-content-header;
}

/*quotes*/
blockquote:before, blockquote:after {content:'"';}
blockquote {quotes:'"';}

/*code blocks*/
pre {font-size:1.4em;}

/*headers*/
h1, h2, h3, h4, h5, h6 {line-height:1.1;}
h1, h2, h3 {font-family:'KameronRegular';}
h1 {font-size:4.8em;}
h2 {font-size:3.6em; margin-bottom:20px;}
h3 {font-size:2em;}
h4 {font-size:1.8em;}
h5 {font-size:1.6em;}
h6 {font-size:1.4em;}

/*links*/
a {text-decoration:none; border-bottom:1px solid $pink; color:$pink; font-weight:normal; font-size:1.4em;
    -webkit-transition: color 0.3s, border 0.3s;
}
a:hover, a:active {border-bottom-color:$orange; color:$orange;}
p a, h1 a, address a, li a, td a {font-size:1em;}

/*alerts*/
.alert {font-size: 2.5em;}

/*forms*/
form {padding:20px;}
form.form-register {width:400px;}
form.form_in_place {font-size: 0.7em; padding : 0;}
.field_with_errors {display: inline; padding : 0; color:red;}
#error_explanation {font-family: 'KameronRegular'; font-size: 1.4em;}

fieldset {overflow:hidden;}
legend {display:none;}
label, input, select, textarea {display:inline-block;}
label {font-size:1.4em; text-align:right; display:none;}
form.form-register label {display:inline-block; padding-right:20px; width:120px;}

input, select, textarea {
    font-family:'KameronRegular','Times New Roman',serif; font-size:1.4em;
    padding:8px 8px; margin:0px 17px 20px 0px; width:220px;
    background-color:#fcfcfc;
    border:none; border-radius: 1px;
    box-shadow: inset 0px 0px 2px hsla(213,5%,36%,0.9); box-sizing:border-box;
}
input.check, input[type=checkbox] {width:20px;}
select {padding:4px 6px;}
input:focus, select:focus, textarea:focus {background-color:#fff;}
/*form errors*/
input.input-error, select.input-error, textarea.input-error {width:354px; border:2px solid $red; background-color:transparentize($red,0.8);}
select.input-error {width:174px;}

/*images*/
img {}

/*button styles*/
button, .button, input[type="submit"] {
    @include calltoaction(4px,$pink);
}
button {font-size:1.4em;}
button:hover, .button:hover, input[type="submit"]:hover {
    @include ctahover(3px,$orange);
}
.featured-cta, input.featured-cta {
    @include calltoaction($shadowpx:4px,$color:$green,$shadowcolor:$green,$backcolor:lighten($green,40%));
    padding:16px 40px;
}
.featured-cta:hover, input.featured-cta:hover {@include ctahover(3px,$green); padding:16px 39px 16px 41px;}

/*SITE STRUCTURE AND MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*header and footer*/
header[role="banner"], footer {
    background-color:$superdark;
    background: -webkit-linear-gradient(top, hsla(213,5%,5%,0.8), hsla(213,5%,0%,0.8));
    background: -moz-linear-gradient(top, hsla(213,5%,5%,0.8), hsla(213,5%,0%,0.8));
    background: -o-linear-gradient(top, hsla(213,5%,5%,0.8), hsla(213,5%,0%,0.8));
    background: -ms-linear-gradient(top, hsla(213,5%,5%,0.8), hsla(213,5%,0%,0.8));
    background:
    linear-gradient(top, hsla(213,5%,5%,0.8), hsla(213,5%,0%,0.8));
    @include lighttext;
    padding:20px 0px;

}
.wrapper {width:980px; margin: 0px auto; overflow:hidden;}
header[role="banner"] h1,
header[role="banner"] nav,
header[role="banner"] form {display:inline-block;}
header[role="banner"] h1 {padding-right:30px; margin-top:10px; line-height:1;}
header[role="banner"] a,
footer a {color:hsla(213,5%,100%,0.9); border:none;}
header[role="banner"] nav a {font-size:2em;}

header[role="banner"] form {float:right; width:400px; position:relative; padding:0px;}
header[role="banner"] form input[type="email"],
header[role="banner"] form input[type="password"] {width:160px; margin-right:20px;}
header[role="banner"] form input[type="submit"] {
    position:absolute; top:0px; right:0px;
    width:40px; padding:8px 0px; margin:0px;
}

header[role="banner"] form label[for="remember-me"], #remember-me {display:inline-block; float:right;}

header[role="banner"] p {text-align:right;}
header[role="banner"] p.logged-in {float:right;}
header[role="banner"] p.logged-in a:before {
    font-family:'symbols-icons';
    text-align:center; line-height:1em; font-size:1.4em;
    width:1.2em; display:inline-block; content:$logout; cursor:pointer;}

footer a {float:right; text-indent:-999em; width:46px; height:45px; background:transparent url('the-lab-logo.png') no-repeat left top;}

.main-content {width:980px; margin: 0px auto; overflow:hidden; padding:20px 0px; min-height:500px;}

.breadcrumbs {margin-bottom:10px;}
.breadcrumbs span {font-size:1.4em;}
.breadcrumbs span {font-size:1.4em;}
.breadcrumbs a {margin-right:20px;}
.breadcrumbs a:before, .breadcrumbs span:before {
    content:'> ';
}

.lightbox {position:absolute; top:0px; left:0px; min-height:100%; width:100%;
    background-color:transparentize($dark,0.5);}
.lightbox > section {position:absolute; top:20%; left:50%; width:380px; margin-left:-190px; background-color:$superlight; border-radius:2px; box-shadow:0px 0px 3px $dark;}
.lightbox .close {
    @include calltoaction($shadowpx:4px,$color:$pink,$shadowcolor:$pink,$backcolor:lighten($pink,40%));
    position:absolute; top:0px; right:0px; padding:5px;
}
.lightbox .close:before {
    font-family:'symbols-icons';
    text-align:center; line-height:1em; font-size:1.4em;
    width:1.2em; display:inline-block; content:$cross; cursor:pointer;
}
.lightbox .close:hover {
    @include ctahover($shadowpx:3px,$color:$pink);
    padding:5px;
}

.lightbox form input,
.lightbox form select {
    width:100%;
}
.lightbox .next {@include calltoaction($shadowpx:4px,$color:$green,$shadowcolor:$green,$backcolor:lighten($green,40%)); float:right;}
.lightbox .next:hover {@include ctahover($shadowpx:3px,$color:$green)}



/*HOMEPAGE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#hero {overflow:hidden; padding:20px;}
#hero figure {width:540px; float:left;}
#hero h2, #hero p, #hero h3, #hero form {width:380px; float:right;}
#hero form {padding:20px 0px;}
#hero input {width:380px;}
#hero input.featured-cta {width:296px; float:right; margin-right:20px;}

.feature {@include featuredcontent; width:239px; margin-left:19px; padding:20px; float:left;}
.feature header {@extend .featured-content-header;}
#homepage .feature {padding-left:40px;
    @include rightborder;
    }
#homepage .feature:nth-child(4) {@include rightborder($translight,$pink,$purple,$blue);}
#homepage .feature:nth-child(2) {@include rightborder($translight,$red,$orange,$yellow);}
#homepage .feature ul {list-style:circle inside none; font-size:1.4em;}

/*ON CONFERENCE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#conference-page {overflow:visible; position:relative;}
#conf-info {overflow: hidden; border-bottom:1px solid $mid; padding-bottom:20px; margin-bottom:20px;}
#conf-info article, #conf-info aside {width:50%; float:left;}
article h2, article time {margin:10px 0px;}
article time {font-size:2em;}
#conf-info aside {
    width:330px; float:right; padding:10px;
    @include featuredcontent; margin:5px 5px 20px 0px;}
#conf-info aside span {display:block; text-align:center; font-size:1.6em;}
#conf-info aside .featured-cta {float:right;}

/*h2 changing to input styling*/
#conf-info article h2 {padding-bottom:8px;}
/*p changing to input style*/
#conf-info article p {margin-top:14px; font-size:2em;}
input#conference_agenda {margin-top:10px; width:100%;}
/*editing icon*/
/*#conf-info article h2.editable:after, #conf-info article p.editable:after {
    content:$edit;
    padding-left:10px;
}*/
#conf-info article p:after {font-size:1.6em;line-height:1em;}

ul#participants {
    padding-top: 20px;
}


#participants > li {
    width:200px; 
    float:left; 
    margin:0px 40px 40px 0px;
}


#participants figure, #participants ul {float:left;}
#participants figure {position:relative; 
    border-right:1px;
    border-radius: 10px;
    animation: flipInY 1s ease-in-out;
    -moz-animation: flipInY 1s ease-in-out;
    -webkit-animation: flipInY 1s ease-in-out;
    }

#participants figure figcaption {
    bottom:0px; left:0px; width:100%; padding:8px 0px; box-sizing:border-box;
    background-color: $superdark;
    @include lighttext; text-align:center; font-size:1.4em;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.photo{
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}

#image_frame{
  position: relative;
}

#image_frame #info { 
  display: none;
  width:100%; padding:8px 0px; box-sizing:border-box;
  background-color: $superdark;
  @include lighttext; font-size:1.4em;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*datetime picker */

#ui-datepicker-div {width: 300px;}

/*DASHBOARD~~~~~~~~~~~~~~~~~~~~*/
#dashboard article header {margin-bottom:20px;}
#dashboard article h2 {display:inline-block;}
#dashboard article .featured-cta {float:right;}
#dashboard article form {float:right; margin-bottom:-20px; padding:0px;}
#dashboard article form input[type="text"] {width:300px;}
#dashboard .filter {float:right; margin:0px 10px -20px 0px;}
#dashboard .filter a {padding:0px 10px; border-right:1px solid $pink; border-bottom:none;}
#dashboard .filter a:last-child {border-right:none;}
#dashboard .filter a.selected {color:$purple;}



.delete {visibility:hidden;}
.delete:before {
    font-family:'symbols-icons';
    text-align:center; line-height:1em; font-size:1.8em;
    width:1.2em; display:inline-block; content:$delete; cursor:pointer; visibility:visible;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#grid {position:absolute; top:0px; left:50%; height:100%; width:100%; background:transparent url('../12_col.png') repeat-y top left; margin-left:-490px;}




/*==========Karl be playing here==========================*/

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInY {
    0% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -o-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -o-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}




/* flipping the cards


.card {
    width: 200px; height: 202px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 1px solid black; 
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.rotate {
    -webkit-transform: rotateY(180deg);             
}

.rotate .front {
    z-index: 0;          
}

.face {
position: absolute;
-webkit-backface-visibility: hidden;
}

.container {
    width: 200px; height: 412px;
    -webkit-perspective: 1000;
}

.back{
    z-index: 10;
    width: 500px; height: 500px;
    background: white;
    -webkit-transform: rotateY(180deg);

}

.onBack{
    position: absolute;
    bottom: 20px;
    width: 500px; height: 500px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 1px solid black; 
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;  
}

*/ 






