<!DOCTYPE HTML>
<html>
  <head>
    <title>Backbone Example</title>
    <link href="/stylesheets/test.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/test.js"></script>
  </head>
  <body>

    <h1>Backbone Example</h1>

  </body>
</html>

