<!DOCTYPE HTML>
<html>
  <head>
    <title>Backbone Example</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>

    <h1>Backbone Example</h1>

  </body>
</html>

