<!DOCTYPE HTML>
<html>
  <head>
    <title>Backbone Example</title>
    <link href="/assets/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/javascripts/application.js" type="text/javascript" ></script>
  </head>
  <body>

    <h1>Backbone Example</h1>

  </body>
</html>

